html(lang="en")
    head
    style.
        body {
            background-color:black;
        }
        ul {
            list-style:none;
            padding:0px;
        }
        ul li {
            height:50px;
            weight:250px;
        }
    title 
    body 
        ul
            each val, index in ["#00FF06", "#34FF39", "#58FF5C", "#8CFF8E", "#AAFFAB","#C1FFC1","#DAFFDA","#E8FFE8","#EFFFEF","#FFFFFF"]
                li(style="background-color:"+val)

