html(lang="en")
    head
    style.
        body {
            background-color:black;
        }
        ul {
            list-style:none;
            padding:0px;
        }
        ul li {
            height:50px;
            weight:250px;
            margin-bottom:10px;
        }
    title 
    body 
        ul
            each val, index in ["#FFFFFF","#EFFFEF","#E8FFE8","#DAFFDA","#C1FFC1","#AAFFAB","#8CFF8E","#58FF5C","#34FF39","#00FF06"]
                li(style="background-color:"+val)

